<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Gugliotti_News::content_news" title="News"
                            translate="title" sortOrder="100">
                        <resource id="Gugliotti_News::content_news_category"
                                title="Categories" translate="title" sortOrder="10">
                            <resource id="Gugliotti_News::category_save" title="Save Category"
                                    translate="title" sortOrder="10" />
                            <resource id="Gugliotti_News::category_delete"
                                    title="Delete Category" translate="title" sortOrder="20" />
                        </resource>
                        <resource id="Gugliotti_News::content_news_story"
                                title="Stories" translate="title" sortOrder="20">
                            <resource id="Gugliotti_News::story_save" title="Save Story"
                                    translate="title" sortOrder="10" />
                            <resource id="Gugliotti_News::story_delete"
                                    title="Delete Story" translate="title" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Gugliotti_News::settings" title="Gugliotti News" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>