<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gugliotti_news>
            <general>
                <enabled>0</enabled>
            </general>
            <images_uploader>
                <allowed_files>jpeg,jpg,png,gif</allowed_files>
                <folder>news</folder>
            </images_uploader>
        </gugliotti_news>
    </default>
</config>