<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gugliotti\News\Api\CategoryRepositoryInterface" type="Gugliotti\News\Model\CategoryRepository" />
    <preference for="Gugliotti\News\Api\Data\CategoryInterface" type="Gugliotti\News\Model\Category"/>
    <preference for="Gugliotti\News\Api\Data\CategorySearchResultsInterface"
            type="Magento\Framework\Api\SearchResults" />
</config>